body {
    text-align: center;
    background-size: 1500px 1500px;
    background-color: rgb(147,188,212);
    margin: 0 auto;
    color: rgb(255, 255, 255);
}

.box {
    color: white;
    background-color: rgb(64, 154, 206);
    width: center;
    height: center;
    padding: 30px;
    border: 1px solid black;
    margin: 20px;
    font-size: 20px;
  }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container img {
    margin: 0;
}

img {
    margin: auto;
    display: block;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-style: initial;
    font-size: 80px;
    text-align: center;
}

h1 img {
    display: inline-block;
    margin-right: 30px;
    margin-left: 35px;
}

h2 {
    font-size: 35px;
    text-align: center;
    color: white;
}

h3 {
    font-size: 25px;
    text-align: center;
    color:white; 
}

h3 img {
    display: inline-block;
    margin-right: 0;
    margin-left: 0;
}


button {
    display: inline-block;
    margin: 0 auto;
    background-color: white;
    top: 70px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 0px 5px 3px #c5c5c5;
    padding: 20px;
    cursor: pointer;
    border: 9px outset;
    border-radius: 30px;
    position: relative;
    outline: none;
    box-shadow: 3px 3px 3px grey;
}

.button1 {
    display: inline-block; 
    margin: 0 auto; 
    background-color: white; 
    top: 30px; 
    font-family: sans-serif; 
    font-size: 20px; 
    font-weight: bolder; 
    padding: 10px;
    cursor: pointer;
    border: 9px outset; 
    border-radius: 30px; 
    position: relative;
    outline: none; 
}


button:hover {
    background-color: lightgrey;
    transform: scale(1.1);
}

/* Styling for the form */
.form-check {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the checkboxes and labels horizontally */
    color: white;
    font-size: 30px;
}

.form-check input[type="checkbox"] {
    margin-right: 10px;
    /* Add any additional checkbox-specific styling here */
}

.form-check label {
    cursor: pointer;
    font-size: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 200px;
    margin-top: 100px; 
}

li {
    margin-bottom: 10px;
    font-size: 30px; 
}

.info-map-container {
    display: flex;
    align-items: flex-start; 
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    width: 90%; 
}

.info-container {
    flex: 1; 
    margin-right: 20px; 

}

.map-container {
    flex: 1; 
    margin-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

label {
    font-size: 24px;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
select {
    width: 400px; /* 인풋박스 너비 설정 */
    padding: 10px;
    font-size: 18px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button[type="submit"],
button {
    background-color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bolder;
    text-shadow: 0px 3px 3px #c5c5c5;
    padding: 10px 20px;
    cursor: pointer;
    border: 6px outset;
    border-radius: 15px;
    outline: none;
    box-shadow: 3px 3px 3px grey;
    margin: 10px;
}

button:hover {
    background-color: lightgrey;
    transform: scale(1.1);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 200px;
    margin-top: 100px; 
}

li {
    margin-bottom: 10px;
    font-size: 30px; 
}

.info-map-container {
    display: flex;
    align-items: flex-start; 
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    width: 90%; 
}

.info-container {
    flex: 1; 
    margin-right: 20px; 

}

.map-container {
    flex: 1; 
    margin-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

label {
    font-size: 24px;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
select {
    width: 400px; /* 인풋박스 너비 설정 */
    padding: 10px;
    font-size: 18px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button[type="submit"],
button {
    background-color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bolder;
    text-shadow: 0px 3px 3px #c5c5c5;
    padding: 10px 20px;
    cursor: pointer;
    border: 6px outset;
    border-radius: 15px;
    outline: none;
    box-shadow: 3px 3px 3px grey;
    margin: 10px;
}

button:hover {
    background-color: lightgrey;
    transform: scale(1.1);
}