{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="'UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <canvas class="canvas" width="300" height="100"></canvas>
    <title>Checkbox</title>
    <script>
  </script>
</head>

<body>
    <form action="{% url 'check' %}" method="post">
        {% csrf_token %}
        <div class="form-check">
            <input type="checkbox" value="마포구" id="Mapo" name="DataEngCsv">
            <label for="Mapo">마포구</label>
        </div>

        <div class="form-check">
            <input type="checkbox" value="서대문구" id="Seodaemoon" name="DataEngCsv">
            <label for="Seodaemoon">서대문구</label>
        </div>

        <div class="form-check">
            <input type="checkbox" value="종로구" id="Jonglo" name="DataEngCsv">
            <label for="Jonglo">종로구</label>
        </div>

        <button type="submit">검색</button>
    </form>
</body>

{% if latest_list %}
    <ol>
        {% for data in latest_list %}
            <li>{{ data.zipcode }}</li>
            <li>{{ data.place_code}}</li>
        {% endfor %}
    </ol>
{% endif %}
</html>