{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="'UTF-8">
    <canvas class="canvas" width="300" height="100"></canvas>
    <title>시..시시시!</title>
    <script>
        function executePath1() {
            window.location.href = "one/";
        }
    </script>
</head>

<body>
    <div>
        <h1>
            슈슈슉
        </h1>
    </div>
    <div>
        <button onclick=>뭐행?</button>
        <button onclick="executePath1()">다음</button>
    </div>


</body>

</html>