{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="'UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <canvas class="canvas" width="300" height="100"></canvas>
    <title>시..시시시!</title>
    <script>
        function executePath2() {
            window.location.href = "two/";
        }
    </script>
</head>

<body>
    <div>
        <h1>
            히히힣
        </h1>
    </div>
    <div>
        <button onclick=>포기하기</button>
        <button onclick="executePath2()">그래도 고?</button>
    </div>


</body>

</html>