{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="'UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <canvas class="canvas" width="300" height="100"></canvas>
    <title>데이터 청년 캠퍼스</title>
    <script>

    </script>
</head>

<body>
    <div>
        <h1>
            가격 선택하기
        </h1>
        <h3>
            남은 우편번호 : {{num}}개
        </h3>
    </div>
    
    <form id="price" method="post" action="{% url 'price' %}">
        {% csrf_token %}
        <h5>월세보증금(단위:만(원))</h5>
        <input type="text" name="title">
        <br>
        <h5>월세(단위:만(원))</h5>
        <input type="text" name="content">
        <br>
        <button type="submit">다음</button>
    </form>
</body>

</html>