{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>simpleMap</title>
<script
	src="https://apis.openapi.sk.com/tmap/vectorjs?version=1&appKey=HGhyB5NTRR1pdctm6KZ5iasSfEzsdJ6V7pdTtdV3"></script>
<script type="text/javascript">
	var map;
	//지도 초기화
	function initTmap(){
		map = new Tmapv3.Map("map_div", {
			center : new Tmapv3.LatLng(37.56520450, 126.98702028),
			width : "100%",	// 지도의 넓이
			height : "600px",	// 지도의 높이
			zoom : 16	// 지도 줌레벨
		});
	
		map.on("ConfigLoad", function() {
		        addCircle();
		        addPolyline();
		        addRectangle();
		        addPolygon();
		    });
	}
	
	//원
	function addCircle(){
		var circle = new Tmapv3.Circle({
			center: new Tmapv3.LatLng(37.56520450, 126.98372028),
			radius: 50,
			strokeWeight :1,
			fillColor: "#F7FF00",
			map: map
		});
	}
	
	//선
	function addPolyline(){
		var polyline = new Tmapv3.Polyline({
			path: [new Tmapv3.LatLng(37.56480450,126.98512028),	// 선의 꼭짓점 좌표
				new Tmapv3.LatLng(37.56565450,126.98512028),	// 선의 꼭짓점 좌표
				new Tmapv3.LatLng(37.56480450,126.98582028),	// 선의 꼭짓점 좌표
				new Tmapv3.LatLng(37.56565450,126.98652028),	// 선의 꼭짓점 좌표
				new Tmapv3.LatLng(37.56480450,126.98652028)],
			strokeColor: "#dd00dd",
			strokeWeight: 6,
			 map: map
		});
	}
	
	//사각형
	function addRectangle(){
		var rect = new Tmapv3.Rectangle({
		bounds: new Tmapv3.LatLngBounds(new Tmapv3.LatLng(37.56480450,126.98752028), new Tmapv3.LatLng(37.56565450,126.98902028)),
		fillColor: "#037D2C",
		strokeWeight :1,
		map: map
		});
	}
	
	//다각형
	function addPolygon(){
		var polygon = new Tmapv3.Polygon({
			paths: [new Tmapv3.LatLng(37.56480450,126.98982028),
			new Tmapv3.LatLng(37.56565450,126.98982028),
			new Tmapv3.LatLng(37.56565450,126.99052028),
			new Tmapv3.LatLng(37.56520450,126.99132028),
			new Tmapv3.LatLng(37.56480450,126.99112028)],
		fillColor:"#DE27D8",
		strokeWeight: 1,
		map: map
		});
	}
</script>
</head>
<body onload="initTmap()"><!-- 맵 생성 실행 -->
    <div>
        <h4>왕밤빵왕밤빵왕밤빵왕밤빵왕밤빵</h1>
    </div>
	<div id="map_div"></div>
</body>
</html>
				