<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" href="style.css">

<head>
    <meta charset="'UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <canvas class="canvas" width="300" height="100"></canvas>
    <title>시..시시시!</title>
    <script>
        function executePath() {
            window.location.href = "three/";
        }
    </script>
</head>

<body>
    <div>
        <h1>
            헤헤헿
        </h1>
    </div>
    <div>
        <button onclick=>하하</button>
        <button onclick="executePath()">다음</button>
    </div>


</body>

</html>